*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
}

body {
    background-image: url("./backgrounds.jpg");
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    margin-top: 100px;
}

.city-search-container {
    font-size: 2rem;
    width: 380px;
    margin: 0 auto;
}

.city-search-container input {
    width: 100%;
    max-width: 380px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.3);
    border-radius: 5%;
    border-bottom: 3px solid #555454;
    color: #252525;
    font-size: 20px;
    font-weight: 500;
    transition: 0.2s ease-out;
}

.city-search-container input:focus {
    background-color: rgba(255,255,255,0.6);
}

.widgets {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;
}

.weather, .time {
    margin-top: 20px;
    color: #313131;
    box-shadow: 0px 0px 10px 1px rgb(19, 19, 44);
    height: 300px;
    width: 300px;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 5%;
    background-color: rgba(255,255,255,0.4);
    overflow: hidden;
}

.weather > div {
    margin: 5px;
}

.date {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.temp {
    font-weight: 900;
    font-size: 48px;
    text-shadow: 2px 4px rgba(85, 78, 78, 0.6)
}

.description {
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
}

p {
    font-size: 17px;
}